<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body>
    <h1>
        {{title}} page created by {{name}}
    </h1>
    <img src="../public/img/robot.png">
</body>

</html>